 {% extends "navBar.html" %} {% block content %}
<div class="info-container">
    <div class="row">
        <div class="col l6 m8 s12">
            <div class="card">
                <div class="card-image">
                    <img src="../static/images/chat.jpeg">
                </div>
                <div class="card-content">
                    <p>
                       <h4><b> Welcome</b></h4> </br>
                        <br>
                        <b> Welcome to Therp-AI, Your Mental Health Assistant</b></br>
                        Welcome to Therp-AI, your companion in your mental health journey. Our AI-powered bot is here to assist and support you as you navigate various aspects of mental well-being.
                    </p>
                    <br/>
                    <p>
                        <b> About Therp-AI</b></br>
                        Therp-AI is a chatbot powered by advanced AI models designed to provide information, guidance, and support related to mental health topics. It is not a substitute for professional medical advice, therapy, or diagnosis, but rather a tool to offer general
                        insights, resources, and assistance. </p>

                    <br/>
                    <p>
                        <b> Scope of Therp-AI's Assistance</b></br>
                        Therp-AI is here to help answer your questions, offer guidance on coping strategies, provide information about mental health conditions, and direct you to relevant resources. It aims to provide a supportive environment for those seeking information about
                        mental health.
                    </p>

                    <br/>
                    <p>
                        <b> Limitations</b></br>
                        It's important to understand that while Therp-AI aims to be helpful and informative, it has limitations. For urgent, complex, or severe mental health concerns, it is crucial to seek assistance from qualified mental health professionals or emergency services.
                    </p>

                    <br/>
                    <p>
                        <b> Your Privacy Matters</b></br>
                        We prioritize the privacy and confidentiality of your data. All information shared with Therp-AI is handled securely and treated with the utmost confidentiality. We do not share your data with third parties without your consent.
                    </p>
                   
                    <br/>
                    <p>
                        <b> Get started</b></br>
                        Feel free to start a conversation with Therp-AI and explore the resources and support it provides. Remember, for urgent or severe concerns, please seek immediate help from qualified professionals. Thank you for choosing Therp-AI as part of your mental
                        health support system.
                    </p>
                    <br/>

                </div>
               
            </div>
        </div>
        <div class="col l6 m7 s12">
            <div class="card">
                <div class="card-image">
                    <img src="../static/images/chat-2.jpeg">
                </div>
                <div class="card-content">
                    <p>
                      <h4>  <b> Disclaimer</b></h4></br>
                        <br/>
                        <b>Not a Replacement for Professional Medical Advice or Therapy</b>
                        <br> This chatbot is not a substitute for professional medical advice, diagnosis, or treatment. It does not provide therapy or personalized medical assistance. The information provided here is for informational purposes only and
                        should not be considered as a replacement for professional help. If you're dealing with urgent mental health concerns, please seek immediate assistance from a qualified mental health professional or contact emergency services.
                    </p>
                    <br/>
                    <p>
                        <b>Limitations and the Importance of Seeking Professional Help</b></br>
                        While our chatbot is designed to offer general guidance, support, and resources related to mental health, it has limitations. For severe, complex, or urgent mental health issues, we strongly advise seeking support from qualified professionals. This chatbot
                        is not equipped to handle crises or emergency situations. </p>

                    <br/>
                    <p>
                        <b> Role of the Chatbot</b></br>
                        Our chatbot is here to offer general guidance, support, and resources regarding mental health topics. It can provide information, coping strategies, and assistance in finding appropriate resources. It aims to be a companion on your mental health journey
                        but is not a replacement for professional care.
                    </p>
                </div>
               
            </div>
        </div>

    </div>

</div>


{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>